/*
   Github : https://github.com/theAsthana/reset.css
   Author : Himanshu Asthana
   Licence : none
*/

/*-- Setting default margin & padding to 9 --*/

body,html,div,blockquote,img,
label,p,h1,h2,h3,h4,h5,h6,pre,
ul,ol,li,dl,dt,dd,form,a, span,
fieldset,input,th,td,footer, canvas,
aside, article, header, nav, menu,
section, figure, iframe, main {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

/*-- Resetting defaults --*/

body {
    line-height: 1;
    font-size: 100%;
}

/*-- Setting heading defaults to appropriate values --*/

h1,h2,h3,h4,h5,h6 {
    font-size: 120%;
    font-weight: bold;
    padding: .6em 0;
    margin: 0 15px;
}

/*-- Setting list style to none --*/

ul,ol {
    list-style: none;
}

/*-- Setting anchor tag default values --*/

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
